.Header{
    text-align: center;
    border: 2px solid black;
    height: 100px;
}

.Nav{
    text-align: center;
    border: 2px solid black;
    height: 20px;
}

.Main{
    text-align: center;
    border: 2px solid black;
    height: 600px;
    max-width: 960px;
    margin: auto;
}

.Article{
    text-align: center;
    border: 2px solid black;
    height: 500px;
    max-width: 900px;
    margin: auto; 
}

.Aside{
    text-align: center;
    border: 2px solid black;
    height: 100px;
    max-width: 600px;
    margin: 350px 250px;
    
}
.Footer{
    text-align: center;
    border: 2px solid black;
    height: 30px;
}