body{
    background-color: #adadad;
}

main{
    margin: auto;
    flex-direction: row;
    display: flex;
}

.menu1{
    background-color: #e97474;
    width: 500px;
    height: 390px;
    margin: 0;
    display: flex;
}

.menu2{
    background-color: #adf049;
    width: 900px;
    height: 150px;
    display: flex;
    margin: 10px;
    margin-top: 0;
}

.caixa3{
    background-color: #e75fa8;
    width:400px;
    height:220px;
    margin-top: 170px;
}

.caixa4{
    background-color: blueviolet;
    width: 310px;
    height: 105px;
    margin-top: 170px;
    margin-left: 20px;
}

.caixa5{
    background-color: blueviolet;
    width: 310px;
    height: 105px;
    margin-top: 10px;
    margin-left: 20px;
}
.coluna{
    flex-direction: column;
    margin-top: 170;
}

